input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance:none;
    margin: 0;
}

.maindto{
    display: flex;
    flex-direction: row;
}
.firstdto{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    /* margin-bottom: 2px; */
}
.seconddto{
    border: 1px solid black;
    border-style: dashed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    width: 30%;
    flex-direction: column-reverse;
    padding: 4px 4px 4px 4px;
}

.img{
    /* background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%); */
}

.retakeImage{
    width: 10%;
    margin-right: 0;
}